<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chair/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,482},{54,46}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,82},{54,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chicken/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,455},{56,76}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{56,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chicken/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,405},{56,76}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,52},{56,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chicken/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,405},{50,78}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{50,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chicken/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{50,78}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{50,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>crab/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,367},{84,40}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,87},{84,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>crab/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,363},{84,40}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,87},{84,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>crab/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,324},{84,42}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,86},{84,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>crab/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,427},{84,42}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,86},{84,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>default/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,408},{76,76}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>female/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{76,108}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{76,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>female/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,182},{76,108}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{76,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>female/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{64,106}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{64,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>female/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,259},{64,106}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,13},{64,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>item/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,275},{48,60}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,68},{48,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>male/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,324},{86,102}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{86,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>male/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,282},{86,102}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{86,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>male/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,369},{82,100}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{82,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>male/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,322},{82,100}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{82,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>merchant/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,170},{100,108}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{100,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>orc/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{86,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{86,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>orc/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{86,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{86,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>orc/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,87},{82,118}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{82,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>orc/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,87},{82,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{82,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>platform/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{118,38}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,90},{118,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rat/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,452},{74,46}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,82},{74,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rat/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{74,46}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,82},{74,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rat/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,485},{76,46}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,82},{76,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rat/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,456},{76,46}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{76,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>spider/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,170},{104,60}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,65},{104,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>spider/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,170},{104,60}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{104,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>spider/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,271},{104,50}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,70},{104,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>spider/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,231},{104,50}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,70},{104,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>striff/idle_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{88,120}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{88,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>striff/idle_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,120}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{88,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>striff/idle_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{92,112}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{92,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>striff/idle_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,89},{92,112}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{92,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e535eaff9aa4a779695bf9c9c441a957$</string>
            <key>textureFileName</key>
            <string>EntitySprites-hd.png</string>
        </dict>
    </dict>
</plist>
