
/** Inventory page styles **/

.character
{
	border:				1px solid #64D3D5;
	/* 	background-color:	#095288; */
	margin:				7px 7px 7px 7px;
	padding:			0.5em;
}

.character-portrait
{
	border:				1px solid #00CCCC;
	padding:			0.5em;
	margin-bottom:		7px;
	text-align:			center;
	
	/* background-color:	#0F2443; */
}


.character-info
{
	width:				30em;
	margin-left:		auto;
	margin-right:		auto;
}

table.character-info tr td
{
	text-align:			center;
}

.character-description
{
	padding:			.25em;
	color:				#FFFFFF;
}

.character-title
{
	font-weight:		bold;
	color:				#00CCCC;
}

table.character-statistics
{
	width:				88%;
	border:				1px solid #64D3D5;
	font-weight:		bold;
	font-size:			11px;
	margin-bottom:		7px;
	/*
	color:				#FF6600;
	background-color:	#FFFFFF;
	*/
}

table.character-statistics tr th
{
	text-align: 		right;
	padding:			0.15em 0.15em 0.15em 0;
	border-top:			1px dashed #64D3D5;
}

table.character-statistics tr td
{
	text-align:			left;
	padding:			0.15em 1em 0.15em 1em;
	border-top:			1px dashed #64D3D5;
}

table.character-statistics tr.alt1-first th, table.character-statistics tr.alt1-first td
{
	border-top-style:	none;
}

